<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.png"/>
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="//assets.ziggeo.com/v2-stable/ziggeo.css"/>
    <style>
        [ms-lang=profile_confirm_cancel] {
            visibility: hidden;
            display: none !important;
        }

        .ms-portal-content {
            margin-bottom: 0 !important;
        }
    </style>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div id="help-btns"></div>
</body>
<script id="bugpilot" src="https://script.bugpilot.io/ed6e4967-04a4-4905-8437-91f74d65c884/adopto.js"></script>
<script>
    window.textOverride = {
        profile_period_end: 'To cancel your subscription please fill <a class="text-primary-600 font-bold text-md" target="_blank" rel="noreferrer noopener" href="https://yepic.formaloo.me/cancel">this form</a>'
    };
</script>
<script src="https://api.memberstack.io/static/memberstack.js?custom" data-memberstack-id="706d8c8f22088da1c3071861be8e9fef"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script async>
    WebFont.load({
        google: {
            families: ["Lato", "Montserrat", "Open Sans", "Oswald", "Roboto", "Source Sans Pro", "Source Serif Pro", "Inter", "Poppins", "Noto Sans", "Noto Sans Japanese", "Noto Sans Korean", "Noto Sans Traditional Chinese", "Noto Serif", "Raleway", "Nunito", "Roboto Condensed", "Roboto Mono", "Roboto Slab", "Playfair Display", "Ubuntu", "Rubik", "Merriweather", "PT Sans", "Kanit", "Lora", "Work Sans", "Fira Sans", "Quicksand", "DM Sans", "Barlow", "Mulish", "IBM Plex Sans", "Mukta", "PT Serif", "Bebas Neue", "Libre Baskerville", "Dosis"]
        }
    });
</script>
<script src="https://js.hs-scripts.com/7292720.js" defer="defer" id="hubspot-conversations-script"></script>
<script>
    function setViewportProperty(e) {
        let t;

        function n() {
            const n = e.clientHeight;
            n !== t && requestAnimationFrame((function () {
                e.style.setProperty("--vh", .01 * n + "px"), t = n
            }))
        }

        return n(), n
    }

    window.addEventListener("resize", setViewportProperty(document.documentElement))
</script>
<script defer="defer" src="/static/js/main.ed9adc05.js"></script>
</html>
